<footer>
	<div class="jumbotron">
		<ul class="nav nav-pills nav-justified">
  				<li role="presentation" class="active"><a href="{{ path('homepage') }}">Home</a></li>
  				<li role="presentation"><a href="{{ path('task_list') }}">List of tasks</a></li>
  			</ul>
	</div>
</footer>
